@use "../../styles/vars.scss" as v; // allows you to use pre-defined colors

.hack {
  font-weight: bold;
  color: #f9a857;
}

.ai {
  font-weight: bold;
  color: #ff6f6f;
}

.design {
  font-weight: bold;
  color: #ff94b4;
}

.projecttypes {
  display: flex;
  justify-content: space-between;
  text-align: left;
  flex-flow: row wrap;
  margin: 0rem 10rem;
  padding-top: 5rem;
}

.projectdescription {
  max-width: 33%;
}
