@use "../../styles/vars.scss" as vars; // allows you to use pre-defined colors

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    padding-top: 3rem;
}