$white: #ffffff;
$darker-white: #faf9fc;
$blue: #d1e4ff;
$orange: #f9a857;
$red: #ff6f6f;
$pink: #ff94b4;
$gray: #c3c6cf;
$red-warning: #ac303e;
$green-success: #30ac9e;
$blue-ap: #68b4fc;
$blue-dark: #001d36;
$dark-grey: #8d8d8d;
$hover-blue: #7cbdff;
$turquoise: #51c0c0;
$purple: #816dff;
$black: #333333;
$acm-blue-30: #a8d3ff;
$acm-blue: #62b0ff;
