$white: #ffffff;
$darker-white: #FAF9FC;
$blue: #D1E4FF;
$orange: #F9A857;
$red: #FF6F6F;
$pink: #FF94B4;
$gray: #C3C6CF;
$red-warning: #AC303E;
$green-success: #30AC9E;
$blue-ap: #68b4fc;
$blue-dark: #001D36;
$dark-grey: #8d8d8d;
$hover-blue: #7cbdff;
$turquoise: #51c0c0;
$purple: #816dff;
$black: #333333;