@use "../../styles/vars.scss" as vars;

.navbarWrapper {
  position: fixed;
  top: 0;
  font-weight: 400;
  width: 100%;
  z-index: 10;
  white-space: nowrap;

  // container for fixed navbar (desktop and mobile)
  .navbar {
    background-color: vars.$white;
    z-index: 20;
    font-size: 18px;
    width: 100%;

    height: 78px;
    justify-content: space-between;
    align-items: center;

    // left side of navbar is just the acm logo
    .left {
      height: 78px;
      //padding-top: 9px;
      //padding-bottom: 9px;
      padding: 16px 30px 16px 30px;
      display: flex;
      flex-flow: row nowrap;
      
      .navLinks {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;

        &.hidden {
          display: none;
        }
      }

      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        padding: 0px 16px 0px 16px;
        flex-shrink: 0;
        
        > img {
          height: 48px;
          margin: 0;
        }
        > p {
          font-size: 23px;
          color: vars.$black;
          margin-left: 4px;
          margin-bottom: 2px;
        }
      }
      a:hover {
        cursor: pointer
      }
      
      .divider {
        display: flex;
        align-items: center;
        text-decoration: none;
        padding-right: 16px;
        span {
          font-size: 23px;
          color: vars.$black;
          margin-left: 4px;
          margin-bottom: 2px;
        }
      }
    }

    // navbar right side contains all navlinks on desktop
    .right {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;

      .navItem {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: vars.$black;
        margin-right: 32px;
      }

      .loginButton {
        height: 100%;
        align-self: center;

        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;

        height: 35px;
        width: 150px;

        color: vars.$white;
        background-color: vars.$black;
        border-radius: 0.5em;
        margin-right: 32px;

        &:hover {
          opacity: 0.85;
          transition: 0.3s;
        }
      }
      &.hidden {
        display: none;
      }
    }

    // toggle button for mobile menu is only visible on mobile, otherwise hidden
    .toggleIcon {
      // position: relative;
      // width: 40px;
      // height: 20px;
      // margin: 0 30px;
      // padding: 0;
      // background-color: vars.$white;
      position: absolute;
      top: 30px;
      right: 0;
      width: 40px;
      height: 20px;
      margin: 0 30px;
      padding: 0;
      border: none;
      background-color: vars.$white;


      // the toggle icon is composed of two bars we can separately animate between a hamburger icon and an x icon (default is hamburger, we have .open class we can toggle to rotate into the shape of an x)
      .bar1 {
        width: 40px;
        height: 5px;
        border-radius: 2px;
        background-color: vars.$black;
        position: absolute;
        top: 1.5px;
        transition: 0.3s ease-in-out all;

        &.open {
          transform: rotate(-45deg) translateY(-10px);
          transform-origin: top right;
        }
      }

      .bar2 {
        width: 23px;
        height: 5px;
        border-radius: 2px;
        background-color: vars.$black;
        position: absolute;
        right: 0;
        bottom: 1.5px;
        transition: 0.3s ease-in-out all;

        &.open {
          width: 40px;
          transform: rotate(45deg) translateY(10px);
          transform-origin: bottom right;
        }
      }
      &.hidden {
        display: none;
      }
    }
  }


  .mobileNav {
    width: 100vw;
    background-color: vars.$white;
    position: relative;
    z-index: -1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    line-height: 300%;
    transition: 0.3s ease-in-out;
    // mobile menu is hidden by positioning under fixed navbar, we open it by sliding it out
    // if you want to add or remove nav options, change this
    margin-top: -17.5rem;
    &.open {
      margin-top: 0;
    }
    .navItem {
      width: 100%;
      text-align: center;
      color: vars.$black;
      transition: 0.3s ease-in-out all;
      text-decoration: underline solid transparent;
      &:hover {
        text-decoration: underline solid currentColor;
      }
    }
  }

 
  // rainbow bar is always visible below navbar, positioned to be at the bottom of the container even when mobile slides out and height changes
  .rainbow {
    width: 100vw;
    height: 0.4em;
    bottom: -0.4em;
    background: linear-gradient(
      270deg,
      vars.$red 0%,
      vars.$orange 18.75%,
      vars.$green-success 36.98%,
      vars.$blue-ap 55.73%,
      vars.$blue 75%,
      vars.$purple 100%
    );
  }
}