@use "../../styles/vars.scss" as v; // allows you to use pre-defined colors

.hack {
  font-weight: bold;
  color: #f9a857;
}

.ai {
  font-weight: bold;
  color: #ff6f6f;
}

.design {
  font-weight: bold;
  color: #ff94b4;
}

.hero {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "DM Sans";
  font-size: 22px;
  word-wrap: normal;

  &__timer {
    padding: 0 !important;
    margin-top: 85px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    height: 400px;
    background-color: v.$blue !important;

    &__header {
      width: 100% !important;
      word-wrap: normal;
      margin-top: 20px;
      padding: 5px;
      display: flex;
      flex-direction: column;
      h1 {
        font-size: 52px;
        font-weight: 700;

        @media only screen and (max-width: 620px) {
          font-size: 40px;
        }
      }
      @media screen and (max-width: 768px) {
        h1 {
          font-size: 35px;
          font-weight: 700;
        }
      }

      p {
        font-size: 41px;
        font-weight: 300;

        @media only screen and (max-width: 620px) {
          font-size: 32px;
        }
      }
      @media screen and (max-width: 768px) {
        p {
          font-size: 35px;
          font-weight: 300;
        }
      }
    }

    &__time {
      width: 100% !important;
      display: flex;
      flex-direction: row;
      justify-content: center;
      height: 150px;
      padding: 8px;

      &__segment {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 90px;

        &__digits {
          font-size: 66px;
          font-weight: 800;
          height: 50px;
        }
        @media screen and (max-width: 768px) {
          &__digits {
            font-size: 55px;
            font-weight: 800;
            height: 50px;
          }
        }

        &__label {
          font-size: 20px;
          font-weight: 500;
          height: 50px;
        }

        @media screen and (max-width: 768px) {
          &__label {
            font-size: 18px;
            font-weight: 500;
            height: 50px;
          }
        }
      }
      &__divider {
        font-size: 66px;
        font-weight: 800;
        height: 50px;
        margin-left: 10px;
        margin-right: 10px;
      }
      @media screen and (max-width: 768px) {
        &__divider {
          font-size: 55px;
          font-weight: 800;
          height: 50px;
          margin-left: 10px;
          margin-right: 10px;
        }
      }
    }

    @media only screen and (max-width: 1050px) {
      padding: 3em !important;
    }

    @media only screen and (max-width: 500px) {
      .home__communities__grid {
        padding: 0;
      }
    }
  }
}

.projecttypes {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  text-align: left;
  padding-left: 2rem;
  padding-right: 2rem;
}

.projectdescription {
  max-width: 20rem;
  padding: 1rem;
}

.endText {
  text-align: center;
}

.description {
  padding-top: 64px;
  padding-bottom: 64px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 699px) {
    flex-direction: column;
  }
  &__info {
    width: 100%;
    padding: 20px;
    text-align: center;
    align-items: center;
    font-size: 18px;

    button {
      width: 100%;
      height: 80px;
      border-radius: 40px;
      border: none;
      margin-bottom: 2rem;
      font-size: 32px;
      max-width: 20rem;
      color: v.$darker-white;
      background-color: v.$blue-ap; // for when it is open
      // background-color: v.$red-warning;
      cursor: pointer;
    }
    button:hover {
      opacity: 90%;
    }
    p {
      text-align: center;
      padding: 10px;
      color: v.$red-warning;
    }
    &__logo {
      width: 240px;
      margin: 0px auto;
    }
  }

  @media only screen and (max-width: 800px) {
    flex-direction: column;
    align-items: center;
    justify-items: flex-start;
  }
}
