@use "../../styles/vars.scss" as v; // allows you to use pre-defined colors

.bannerbg {
  background-color: v.$acm-blue-30 !important;
  text-align: center;
  padding: 0.3rem;
}

.date {
  font-weight: 700;
}
